<div>
  <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <button *ngIf="showCloseButton"  mat-icon-button (click)="toggleSidenav()" class="floating-close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div>

</div>
<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen" class="example-sidenav" [fixedInViewport]=true [fixedTopGap]=0
    [fixedBottomGap]=0>
    <a class="name">
      <h1> To-Do Pro</h1>
    </a>
    <mat-list-item>
      <a class="menu-icons">
        <mat-icon>house</mat-icon>
        <span>Home</span>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a class="menu-icons">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a class="menu-icons">
        <mat-icon>info</mat-icon>
        <span>Information</span>
      </a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <a class="menu-icons">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </a>
    </mat-list-item>

    <div class="bottom-nav">
      <mat-divider></mat-divider>

      <mat-list-item>
        <a class="menu-icons">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </a>
      </mat-list-item>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <h1>Main Content</h1>
  </mat-sidenav-content>
</mat-sidenav-container>