<!-- <div class="container-fluid"> -->
<!-- <div class="test">
  <div class="row">
    <div class="col headerText">Your Task</div>
    <div class="col headerButton">
      <button type="button" class="btn btn-outline-light float-end">
        Light
      </button>
    </div>
  </div>
</div>

<div class="button-option">
 
  All ToDo In Progress Done
  <div class="constainer-fluid">
    <button mat-stroked-button class="item every">All</button>
    <button mat-stroked-button class="item toDo">To Do</button>
    <button mat-stroked-button class="item inProgress">In Progress</button>
    <button mat-stroked-button class="item done">Done</button>
  </div>
</div>

<div class="taskList">
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let task of taskList">
      <mat-checkbox
        #checkBox
        [checked]="task.Id"
        (change)="getCompletedTask(task)"
      >
        {{ task.toDo }}
      </mat-checkbox>
    </mat-list-item>
  </mat-list>
</div> -->
<!-- </div> -->

<div class="container">
  <div class="test">
    <div class="row">
      <div class="col headerText">Your Task</div>
      <div class="col headerButton">
        <button type="button" class="btn btn-outline-light float-end">
          Light
        </button>
      </div>
    </div>
  </div>

  <div class="button-option">
    <!-- All ToDo In Progress Done -->
    <div class="constainer-fluid">
      <button mat-stroked-button class="item every">All</button>
      <button mat-stroked-button class="item toDo">To Do</button>
      <button mat-stroked-button class="item inProgress">In Progress</button>
      <button mat-stroked-button class="item done">Done</button>
    </div>
  </div>

  <div class="taskList">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let task of taskList">
        <mat-checkbox
          #checkBox
          [checked]="task.Id"
          (change)="getCompletedTask(task)"
        >
          {{ task.toDo }}
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
  </div>
</div>
