mat-grid-tile {
  background: lightblue;
  /* height: 27vh; */
  /* height: 50%; */
}


/* .mat-grid-tile-content {
  width: 100%;
  height: 100%;
} */


.calendarComponent {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.timeChatComponent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}