<!-- <div class="container">
  <mat-grid-list [cols]="6" rowHeight="7rem">
    <mat-grid-tile [colspan]="4" [rowspan]="4">
      <app-time-chart class="timeChatComponent"></app-time-chart>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4">
      <app-calendar class="calendarComponent"></app-calendar>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="4">
      <app-task-list class="taskListComponent"></app-task-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4">4</mat-grid-tile>
  </mat-grid-list>
</div> -->

<div class="container-fluid">
  <div class="item" style="background-color: lightblue">
    <app-time-chart class="timeChatComponent"></app-time-chart>
  </div>
  <div class="item" style="background-color: white">
    <app-calendar class="calendarComponent"></app-calendar>
  </div>
  <div class="item taskComponent" style="background-color: lightblue">
    <app-task-list class="taskListComponent"></app-task-list>
  </div>
  <div class="item" style="background-color: white">
    <app-todays-task class="todaysTaskComponent"></app-todays-task>
  </div>
</div>
